
 
html { 
  background: url(mainbg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
	color: white;
}

body {
	background: transparent;
}

h1 {
	font-family: 'Audiowide', cursive;
	color: silver;
	text-shadow: 2px 2px #1F4772;
	font-size: 4vw;
}

h4 {
	color: #1F4772;
	font-size: 2vw;
}

h5 {
	font-size: 1vw;
	padding-top: 1em;
}
h3, h2 {
	font-family: 'Audiowide', cursive;
	color: #1F4772;
	text-shadow: 1px 1px dark-blue;
}

#header {
	padding-top: 10vw;
}

#projects {
	background-color: grey;
	border-radius: 15px 50px;
	padding: 15px;
	margin-top: 10%;
	margin-bottom: 5%;
}
